﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Simple Chat Website</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body class="main-body">
<h1 class="main-title">Chat Principal</h1>
<div class="user-info">Welcome: <span>@User.Identity.Name</span> -> @Html.ActionLink("Logout", "Logout", "Account")</div>
<section>
    @RenderBody()
</section>
<hr />
<footer>
    <p>&copy; @DateTime.Now.Year - All Rights Reserved to <span class="text-blue">Franklin Castellanos</span> &lt;Senior .Net Full Stack Developer&gt;.</p>
</footer>

<script src="~/Scripts/logic/globalUtils.js"></script>
@RenderSection("scripts", false)

</body>
</html>