﻿.login label{
    width: 100px;
    display: inline-block;
}
.login .form-group {
    margin-bottom: 0.25em;
}


.create-account label {
    width: 125px;
    display: inline-block;
}
.create-account .form-group {
    margin-bottom: 0.25em;
}
.create-account input#btnCreateAccount {
    display: inline-block;
}
.create-account a.return-link {
    margin-left: 10px;
}