﻿.text-blue {
    color: blue;
}

.main-body .main-title{
    display: inline-block;
    margin-top: 0.5em;
}
.main-body .user-info {
    font-size: 1.25em;
}
.main-body .user-info span {
    font-weight: bold;
    text-transform: uppercase;
}

.main-body .new-message-box{
    display: flex;
    margin: 1em 0 1em 0;
}
.main-body .new-message-box input#newMessage{
    width: 500px;
}

.main-body textarea#mainChat {
    min-width: 100px;
    width: 800px;
    min-height: 100px;
    height: 400px;
}