﻿
@{
    ViewBag.Title = "Main Chat Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="new-message-box">
    <form id="newMessageForm" onsubmit="chatPrincipal.sendNewMessageAction(); return false;">
        <label>New Message:</label>
        <input type="text" id="newMessage" name="newMessage" required="required"/>
        <input type="submit" value="Send" />
    </form>
</div>
<textarea id="mainChat" readonly="readonly" ></textarea>
@section scripts{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        window.chatPrincipal = window.chatPrincipal || {};
        (function(namespace) {
            const me = namespace;

            // variables.
            const messageElements = [];
            const sendMessageUrl = "@Url.Action("SendNewMessage", "Home")";
            const getLatestMessagesUrls = "@Url.Action("GetLatestMessages", "Home")";

            // elements.
            me.newMessageElement = $("#newMessage");
            me.mainChatElement = $("#mainChat");

            // event hub handler actions.
            me.newGlobalMessageAction = (messageElement) => {
                addNewMessage(messageElement);
                renderMessages();
            };

            me.stockMessageAction = (messageElement) => {
                addNewMessage(messageElement);
                renderMessages();
            };

            // public methods.

            me.init = async () => {
                const chatHub = $.connection.myChatHub;
                chatHub.client.newGlobalMessageAction = me.newGlobalMessageAction;
                chatHub.client.stockMessageAction = me.stockMessageAction;

                $.connection.hub.start();

                await me.loadMessages();
            };

            me.loadMessages = async () => {
                var result = await (await globalUtils.post(getLatestMessagesUrls)).json();
                if (result.response !== 'success') return;

                const elements = result.messages;
                for (let iterator in elements) {
                    const responseElement = elements[iterator];
                    addNewMessage(responseElement);
                }

                renderMessages();
            };

            me.sendNewMessageAction = async () => {
                const message = me.newMessageElement.val();
                if (message === undefined || message === "" || message === null || message.trim() === "") return false;

                const response = await globalUtils.post(sendMessageUrl, { message });
                var result = await response.json();
                if (result.response === "success") {
                    me.newMessageElement.val("");
                    me.newMessageElement.focus();
                }

                return false;
            };

            // private methods.
            function addNewMessage(messageElement) {
                if (messageElements.length >= 50) {
                    messageElements.shift();
                }

                messageElements.push(messageElement);
            }

            function renderMessages() {
                let composedMessages = "";

                for (let i = 0; i < messageElements.length; i++) {
                    const messageElement = messageElements[i];
                    const message = (i + 1 )+ ". " + messageElement.UserId.toUpperCase() + ": " + messageElement.Message + "\n";
                    composedMessages += message;
                }

                me.mainChatElement.val(composedMessages);
                if(me.mainChatElement.length)
                    me.mainChatElement.scrollTop(me.mainChatElement[0].scrollHeight - me.mainChatElement.height());
            };
        })(window.chatPrincipal);

        // Document Ready.
        $(function() {
            chatPrincipal.init();
        });
    </script>
}

