﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Account</title>
    <link href="~/Content/Login.css" rel="stylesheet" />
</head>
<body class="create-account">
<h1>Create New Account</h1>
<form onsubmit="createAccountLogic.createAccountAction(); return false;" id="createAccountForm">
    <div class="form-group">
        <label>Username:</label>
        <input type="text" id="username" name="username" required="required"/>
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input type="password" id="password" name="password" required="required"/>
    </div>
    <div class="form-group">
        <label>Conf. Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required="required"/>
    </div>
    <div>
        <input type="submit" id="btnCreateAccount" value="Create Account"/>
        @Html.ActionLink("Return Login", "Login", "Account", new {@class = "return-link"})
    </div>
</form>
<script src="~/Scripts/logic/globalUtils.js"></script>
<script>
    window.createAccountLogic = window.createAccountLogic || {};
    (function(namespace) {
        var me = namespace || {};

        // variables.
        const createAccountUrl = "@Url.Action("CreateAccount", "Account")";

        // elements.
        me.createForm = document.getElementById("createAccountForm");
        me.userElement = document.getElementById("username");
        me.passwordElement = document.getElementById("password");
        me.confirmPasswordElement = document.getElementById("confirmPassword");

        me.createAccountAction = async function() {
            if (!me.createForm.checkValidity()) return false;

            const username = me.userElement.value;
            const password = me.passwordElement.value;
            const confirmPassword = me.confirmPasswordElement.value;

            if (password.length < 6) {
                alert("Password must be at least 6 characters long.");
                return false;
            }

            if (confirmPassword !== password) {
                alert("Passwords don't match.");
                return false;
            }

            const data = { username, password };
            const response = await globalUtils.post(createAccountUrl, data);
            const dataElement = await response.json();
            if (dataElement.response === "error") {
                alert(dataElement.message);
                return false;
            }

            if (dataElement.response === "success") {
                window.location.href = "@Url.Action("Login", "Account")";
            }

            return true;
        };
    })(window.createAccountLogic);
</script>
</body>
</html>
