﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Page</title>
    <link href="~/Content/Login.css" rel="stylesheet" />
</head>
<body class="login">
<h1>Enter your credentials</h1>
<section>
    <form onsubmit="loginLogic.loginAction(); return false;">
        <div class="form-group">
            <label>Username:</label>
            <input type="text" id="username" name="username" required="required"/>
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" id="password" name="password" required="required"/>
        </div>
        <div>
            <input type="submit" id="btnLogin" value="Login"/>
        </div>
    </form>
    <p>
        Don't you have an account? -> @Html.ActionLink("Create one", "Create", "Account")
    </p>
</section>
<script src="~/Scripts/logic/globalUtils.js"></script>
<script>
    window.loginLogic = window.loginLogic || {};
    (function(namespace) {
        var me = namespace || {};

        // variables.
        const loginUserUrl = "@Url.Action("LoginUser", "Account")";
        const homeUrl = "@Url.Action("Index", "Home")";

        // elements.
        me.usernameElement = document.getElementById("username");
        me.passwordElement = document.getElementById("password");

        // public Methods.
        me.loginAction = async () => {
            const username = me.usernameElement.value;
            const password = me.passwordElement.value;

            if (!username) {
                alert("The username can't be null or empty.");
                return;
            }

            if (!password) {
                alert("The password can't be null or empty.");
                return;
            }

            const data = { username, password };
            const response = await globalUtils.post(loginUserUrl, data);
            const dataElement = await response.json();    
            if (dataElement.response === "notFound") {
                alert("The credentials entered are invalid.");
                return;
            }

            if (dataElement.response === "success") {
                window.location.href = homeUrl;
            }
        };
    })(window.loginLogic);
</script>
</body>
</html>
